.navbar {
  background-color: #002e6c;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navigation {
  background-color: #08a7eb;
  text-decoration: white;
}

h2 {
  color: #002e6c;
}

h3 {
  color: #002e6c;
}

h4 {
  color: grey;
}

a {
  text-decoration: none;
}

.hr {
  padding: 3px;
  border-width: 0;
  background-color: #002e6c;
  opacity: 1;
}

.card {
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  color: #002e6c;
  flex-wrap: wrap;
}

.form-control {
  color: gray;
}

.grid-view {
  text-decoration: none !important;
  color: #002e6c;
}

.fas {
  color: #08a7eb
}

.btn {
  background-color: #08a7eb;
  border-color: #ddd;
}

input, button, .btn {
  border-radius: 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-reset {
  margin-left: 5vh;
  align-content: center;
  margin-left: 5vh;
}

.footer-left {
  background-color: #adb5bd;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 50px;
}
