.navbar {
  background-color: #002e6c;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navigation {
  /* padding-left: 20px; */
  background-color: #08a7eb;
  color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

h2 {
  color: #002e6c;
}

h3 {
  color: #002e6c;
}

h4 {
  color: grey;
}

a {
  text-decoration: none;
}

.hr {
  padding: 3px;
  border-width: 0;
  background-color: #002e6c;
  opacity: 1;
}

.card {
  color: #002e6c;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.grid-view {
  text-decoration: none !important;
  color: #08a7eb;
}

.list-view {
  color: #333;
}

.btn {
  background-color: #08a7eb;
  border-color: #ddd;
}

input, button, .btn {
  border-radius: 0 !important;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-secondary {
  background-color: white;
  color: black;
}

footer {
  background-color: #adb5bd;
  color: white;
}
